@font-face {
  font-family: "iconfont"; /* Project id 2542731 */
  src: url("//at.alicdn.com/t/font_2542731_9tw006igu0c.woff2?t=1620788851172")
      format("woff2"),
    url("//at.alicdn.com/t/font_2542731_9tw006igu0c.woff?t=1620788851172")
      format("woff"),
    url("//at.alicdn.com/t/font_2542731_9tw006igu0c.ttf?t=1620788851172")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huabanfuben:before {
  content: "\e690";
}

.icon-QQ:before {
  content: "\e698";
}
